.modalText_box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    .leftBox {
        padding-left: 20px;
        border-left: 1px solid rgba(0,0,0,0.09);
    }
}